body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background: #48e;
}
textarea {
    resize: none;
}

.app--todo {
    background: #e8e8e8;
    border-radius: 3px;
}

.li--todo {
    background: #d0d0d0;
}

.app--descripcion{
    font-weight: 600;
}